<div>
  <h1>Put the question and options here</h1>
  <form ng-submit="addPoll()">
    Question:
    <input type="text" ng-model="newPoll.question">
    <br>
    Option 1
    <input type="text" ng-model="newPoll.option1">
    <br>
    Option 2
    <input type="text" ng-model="newPoll.option2">
    <br>
    Option 3
    <input type="text" ng-model="newPoll.option3">
    <br>
    Option 4
    <input type="text" ng-model="newPoll.option4">
    <br>
    <input type="submit" value="Create Poll">
  </form>
</div>
