<a href="#/dashboard">Cancel</a>
<div>
  <h1>Put the question and options here</h1>
  <form ng-submit="addPoll()">
    Question:
    <input type="text" required ng-model="newPoll.question" minlength="8">
    <br>
    Option 1
    <input type="text" required ng-model="newPoll.option1" minlength="3">
    <br>
    Option 2
    <input type="text" required ng-model="newPoll.option2" minlength="3">
    <br>
    Option 3
    <input type="text" required ng-model="newPoll.option3" minlength="3">
    <br>
    Option 4
    <input type="text" required ng-model="newPoll.option4" minlength="3">
    <br>
    <input type="submit" value="Create Poll">
  </form>
</div>
